//====================================================================================================

  .footer {
    background-color: $mainColor;
    color: $whiteColor;
    padding-top: 60px;
    padding-bottom: 90px;
    &__container {
      .footer-contacts {
        display: flex;
        justify-content: space-between;
        padding-bottom: 28px;
        border-bottom: 1px solid #4B557D;
        @media (max-width:$pc){
          flex-direction: column;
          gap: 40px;
        }
        &__logo {
          @media (max-width:$pc){
            text-align: center; 
          }
        }
        &__content {
          display: flex;
          gap: 16px;
          width: 100%;
          @media (max-width:$tablet){
            flex-direction: column;
            align-items: center;
          }
          a {
            transition: all 0.3s ease 0s;
            &:hover {
              color: $greyText;
            }
          }
        }
        &__item {
          display: flex;
          gap: 10px;
          max-width: 288px;
          width: 100%;
          align-items: center;
        }
        &__icon {
          position: relative;
          background-color: $orangeColor;
          height: 68px;
          width: 68px;
          border-radius: 50%;
          img {
            position: absolute;
            top: 21px;
            left: 21px;
          }
          img.nav-point {
            position: absolute;
            top: 17px;
            left: 23px;
          }
        }
        &__text {
          line-height: 26px;
          }
        &__title {
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          }
        &__content {
          }
      }
      .footer__main {
        display: flex;
        justify-content: space-between;
        gap: 130px;
        padding-top: 40px;
        padding-bottom: 2px;
        border-bottom: 1px solid #4B557D;
        @media (max-width:$pc){
            flex-direction: column;
            gap: 80px;
        }
        .footer__social {
          position: relative;
          max-width: 385px;
          @media (max-width:$pc){
            max-width: 100%;
          }
          .footer__nav {
          }
          .footer__description {
            margin-top: 70px;
            margin-bottom: 52px;
            @media (max-width:$pc){
              margin: 0 auto;
              margin-top: 20px;
              margin-bottom: 32px;
              width: 70%; 
            }
          }
        }
        .footer__social::after {
          content: "";
          position: absolute;
          top: 80px;
          right: -50px;
          width: 1px;
          height: 223px;
          background-color: #4B557D;
        }
        .footer__icons {
          display: flex;
          gap: 15px;
          @media (max-width:$pc){
            justify-content: center; 
          }
          .icon {
            position: relative;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: #2C3765;
            img {
              position: absolute;
              top:20px;
              left: 20px;
            }
          }
        }
        .footer__nav {
          max-width: 755px;
          width: 100%;
          @media (max-width:$pc){
            margin: 0 auto;
          }
          nav {
            display: flex;
            justify-content: space-between;
            line-height: 27px;
            @media (max-width:$mobileSmall){
              flex-direction: column; 
              gap: 50px;
            }
            ul {
              position: relative;
              font-size: 20px;
              color: $orangeColor;
              @media (max-width:$mobileSmall){
                text-align: center; 
              }
            }
            .quick-links::after {
              content: "";
              position: absolute;
              top: 80px;
              right: -100px;
              width: 1px;
              height: 223px;
              background-color: #4B557D;
              @media (max-width:$mobile){
                display: none; 
              }
            }
            li {
              font-size: 17px;
              color: $whiteColor;
              margin-bottom: 10px;
              a {
                transition: all 0.3s ease 0s;
              }
              a:hover {
                color: $orangeColor;
              }
            }
            li:first-child {
              margin-top: 16px;
            }
          }
        }
      }
    }
  }

//====================================================================================================
