//====================================================================================================
.header {
  @media (max-width:$mobile){
    display: flex;
    flex-direction: column; 
  }
}

.header-social {
  background-color: $greyColor;
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;
    @media (max-width:$mobileSmall){
      padding-bottom: 0; 
    }
  }
  &__icons {
    display: flex;
    gap: 20px;
    @media (max-width:$mobileSmall){
      gap: 10px; 
    }
  }
}
.header-contacts {
  background-color: $whiteColor;
  padding: 40px 0px;
  @media (max-width:$mobile){
    order: 3; 
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @media (max-width:$tablet){
      flex-direction: column;
      align-items: center;
    }
  }
  &__logo {
    a {
      pointer-events: all;
    }
    @media (max-width:$tablet){
      margin-bottom: 40px;
    }
  }
  &__content {
    display: flex;
    gap: 65px;
    @media (max-width:$mobile){
      flex-direction: column; 
    }
    a {
      transition: all 0.3s ease 0s;
      &:hover {
        color:$mainColor;
      }
    }
  }
  &__item {
    display: flex;
    gap: 15px;
  }
  &__icon {
    position: relative;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    background-color: $orangeColor;
    img {
      position: absolute;
      top: 21px;
      left: 21px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: $mainColor;
  }
  &__content {
    color: $greyText;
  }
}
.header-nav__container {
  margin-bottom: -50px;
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: $orangeColor;
  @media (max-width:$mobile){
    background-color: $greyColor; 
    flex-direction: column; 
    margin-bottom: 0;
    padding-bottom: 20px;
  }

}
.menu {
  // 'max-width: 645px;'
  width: 100%;
  line-height: 65px;
  @media (max-width:$tablet){
    max-width: 100%;
  }
  &__body {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    font-size: 19px;
    margin-left: 40px;
    @media (max-width:$tablet){
      gap: 20px;
      margin-left: 0;
    }
  }
  &__button {
    padding: 1px 42px;
    background-color: $mainColor;
    color: $greyColor;
    transition: all 0.3s ease 0s;
    @media (max-width:$mobile){
      max-width: 300px; 
      margin: 0 auto;
    }
    &:hover {
      background-color: rgb(3, 3, 54);
    }
  }
  &__link {
    transition: all 0.3s ease;
    &:hover{
      color: $whiteColor;
    }
  }
  &__icon {
    @media (max-width:$mobile){
      margin-left: auto; 
    }
  }
}
.header__navigation {
  @media (max-width:$mobile){
    order: 2; 
  }
}

  .header-main {
    background: url("@img/header-main-image.jpg") center / cover no-repeat;
    // background-image: url("@img/header-main-image.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    color: $whiteColor;
    @media (max-width:$tablet){
      background-position: 80% center;
    }
    @media (max-width:$mobile){
      order: 4; 
    }
    &__container {
      padding-top: 270px;
      padding-bottom: 230px;
      @media (max-width:$mobileSmall){
        padding-top: 150px;
        padding-bottom: 150px; 
      }
      .header-main__description {
        line-height: 27px;
        background: rgba(255, 255, 255, 0.2);
        max-width: 662px;
        margin-bottom: 32px;
        img {
          padding-right: 10px;
        }
      }
      h1 {
        font-family: 'Mulish';
        font-size: 60px;
        line-height: 78px;
        letter-spacing: 1.2px;
        text-transform: capitalize;
        max-width: 712px;
        margin-bottom: 29px;
        @media (max-width:$mobile){
          font-size: 38px; 
        }
        @media (max-width:$mobileSmall){
          font-size: 27px;
          line-height: 36px; 
        }
      }
      .view-services {
        display: inline-block;
        background: $orangeColor;
        padding: 19px 42px;
        color: $mainColor;
        transition: all 0.3s ease 0s;
        &:hover {
          background: #d0990dcb;
        }
        &:active {}
        &:focus {}
      }
    }
  }

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
      }
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}



.menu__body {
  @media (max-width:$mobile){
    position: absolute;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    padding-top: 40px;
    transition: all 0.3s ease;
  }
}
.menu__list {
  @media (max-width:$mobile){
    flex-direction: column;
    gap: 0; 
  }
}
.menu-open .menu__body {
  opacity: 1;
  visibility:visible;
  background-color: $mainColor;
  height: 86vh;
  a:not(.menu__button) {
    display: block;
    color: $whiteColor;
    font-size: 32px;
    line-height: 80px;
    &:hover {
      background-color: $orangeColor;
    }
  }
  .menu__button {
    font-size: 21px;
    max-width: 100%;
    background-color: $orangeColor;
    padding-bottom: 0;
    margin-bottom: 40px;
  }
}

