//====================================================================================================

.header-social {
  background-color: $greyColor;
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
  }
  &__icons {
    display: flex;
    gap: 20px;
  }
}
.header-contacts {
  background-color: $whiteColor;
  padding: 40px 0px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    a {
      pointer-events: all;
    }
  }
  &__content {
    display: flex;
    gap: 65px;
    a {
      transition: all 0.3s ease 0s;
      &:hover {
        color:$mainColor;
      }
    }
  }
  &__item {
    display: flex;
    gap: 15px;
  }
  &__icon {
    position: relative;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    background-color: $orangeColor;
    img {
      position: absolute;
      top: 21px;
      left: 21px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: $mainColor;
  }
  &__content {
    color: $greyText;
  }
}
.header-nav__container {
  margin-bottom: -50px;
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: $orangeColor;
}
.menu {
  max-width: 645px;
  width: 100%;
  line-height: 65px;
  &__list {
    display: flex;
    justify-content: space-around;
    font-size: 19px;
  }
  &__button {
    padding: 19px 42px;
    background-color: $mainColor;
    color: $greyColor;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: rgb(3, 3, 54);
    }
    &:active {}
    &:focus {}
  }
  &__link {
    transition: all 0.3s ease;
    &:hover{
      color: $whiteColor;
    }
  }
}

  .header-main {
    background: no-repeat center / cover url("@img/header-main-image.jpg");
    color: $whiteColor;
    &__container {
      padding: 270px 0px 230px 0px;
      .header-main__description {
        line-height: 27px;
        background: rgba(255, 255, 255, 0.2);
        max-width: 662px;
        margin-bottom: 32px;
        img {
          padding-right: 10px;
        }
      }
      h1 {
        font-family: 'Mulish';
        font-size: 60px;
        line-height: 78px;
        letter-spacing: 1.2px;
        text-transform: capitalize;
        max-width: 712px;
        margin-bottom: 29px;
      }
      .view-services {
        display: inline-block;
        background: $orangeColor;
        padding: 19px 42px;
        color: $mainColor;
        transition: all 0.3s ease 0s;
        &:hover {
          background: #d0990dcb;
        }
        &:active {}
        &:focus {}
      }
    }
  }

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

